.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-container > :not(:first-child) {
    margin-top: 8px;
}

.flex-container > :not(:last-child) {
    margin-bottom: 8px;
}